{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %} 
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Et fugit ad sit quis?</li>
<li>Odio repellendus officiis quibusdam. Vitae.</li>
<li>Aut quod tempora hic fugit.</li>
<li>Debitis necessitatibus animi exercitationem nisi?</li>
<li>Aliquam pariatur commodi ipsa facilis.</li>
<li>Laudantium possimus ullam perferendis nostrum.</li>
<li>Amet quos ex incidunt error.</li>
<li>Cum, voluptas? Totam, molestiae cupiditate.</li>
<li>Illum quae voluptates minus explicabo.</li>
<li>Exercitationem enim consequatur quis. Obcaecati!</li>
<li>Recusandae natus officiis enim voluptatem?</li>
<li>Dolor, inventore eligendi. Magni, nisi?</li>
<li>Architecto impedit commodi quos culpa.</li>
<li>Similique assumenda aperiam quam sapiente!</li>
<li>Deleniti facilis sunt optio velit.</li>
<li>Earum voluptate dolor repellat illum.</li>
<li>Culpa saepe dolore impedit. Ipsa.</li>
<li>Eius eveniet sit illo aut!</li>
<li>Sapiente doloribus distinctio eum modi.</li>
<li>Magni quia animi adipisci impedit!</li>
<li>Sunt id adipisci sequi temporibus.</li>
<li>Corrupti doloremque eum voluptas illo?</li>
<li>Voluptatem autem atque fugiat facilis.</li>
<li>Et itaque a amet placeat.</li>
<li>Ipsam iste rem adipisci veritatis.</li>
<li>Cupiditate dignissimos maxime quasi illo?</li>
<li>Facilis dolores unde facere quos?</li>
<li>Non reiciendis eius aliquam magni!</li>
<li>Dolore nam quae quo minima.</li>
<li>At aperiam porro neque! Voluptatem!</li>
<li>Qui beatae debitis praesentium et!</li>
<li>Dicta inventore in dolor rem.</li>
<li>Aspernatur fugit alias minus placeat.</li>
<li>Nam tempora eaque quis voluptatem!</li>
<li>Optio quasi similique saepe et!</li>
<li>Accusantium maxime illo aliquid vel!</li>
<li>Numquam quaerat a quasi modi.</li>
<li>Officia possimus praesentium distinctio iste?</li>
<li>Tempora ullam dolor minima quod!</li>
<li>Molestiae numquam earum quod? Voluptate.</li>
<li>Tempora aliquid repellendus excepturi illum?</li>
<li>Eveniet quis tempore qui est?</li>
<li>Corrupti harum sit eum blanditiis.</li>
<li>Architecto minima omnis qui assumenda.</li>
<li>Magni consequuntur voluptatum amet voluptatibus!</li>
<li>Eligendi quas impedit fugiat temporibus.</li>
<li>Fuga, aspernatur. Id, explicabo ipsum?</li>
<li>Delectus quaerat non laborum vel?</li>
<li>Excepturi atque amet aspernatur ipsa.</li>
<li>A accusantium laboriosam nulla pariatur.</li>
<li>Sit laboriosam natus eum fuga?</li>
<li>Facilis officia saepe consequatur architecto.</li>
<li>Quos iure nostrum magni fuga!</li>
<li>Laborum dolores itaque tenetur aut?</li>
<li>Harum, cupiditate aperiam. Quisquam, illo.</li>
<li>Dolore facilis delectus quibusdam quo?</li>
<li>Laborum magnam voluptate facere nobis!</li>
<li>Numquam laborum ipsam sequi fugit.</li>
<li>Cumque aspernatur quod harum distinctio.</li>
<li>Nobis in corrupti incidunt facilis.</li>
<li>Voluptas accusamus asperiores ducimus distinctio?</li>
<li>Reiciendis odit sint dolorum itaque.</li>
<li>Vel tenetur vitae saepe cum?</li>
<li>Reiciendis saepe recusandae iste aut!</li>
<li>A optio at tenetur velit.</li>
<li>Inventore optio temporibus amet saepe.</li>
<li>Voluptatem doloremque aliquid autem itaque.</li>
<li>Aut veniam repudiandae optio obcaecati.</li>
<li>Explicabo perspiciatis labore hic laborum.</li>        
{% endblock %}
